alias jiraInstall="cd {{ jira_installation_instance_directory }}"
alias jiraTomcatBin="cd {{ jira_installation_instance_directory }}/bin"
alias jiraTomcatConf="cd {{ jira_installation_instance_directory }}/conf"
alias jiraTomcatLog="cd {{ jira_installation_instance_directory }}/logs"
alias jiraHome="cd {{ jira_config_home_directory }}"
alias jiraLogs="cd {{ jira_config_home_directory }}/log"
cd {{ jira_installation_instance_directory }}
